* {margin: 0px;
  padding: 0px;
}
html{background-color: orchid;
  
}
p{color: white; 
  
}
 h3 {
  font-family: Georgia, serif;
}
* {text-align: center; 
  color: white ;}
/* additions made to font family*?
h1{font-family: Georgia; }